{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint"
}